<div class="main_footer">
	<div class="wrap_footer">
		
		<!-- Left -->
		<div class="left_content">
			<span class="logo_mini"><img src="images/footer/logo-footer-mini.png"></span>
			<span><b>PaymentsHub 2017</b> All right reserved</span>
			<u>·</u>
			<a>Legal</a>
		</div>

		<!-- Right -->
		<div class="right_content">
			<span class="logo_santander"><img src="images/footer/logo-santander-footer.png"></span>
		</div>
	</div>
</div>