<div class="wrap_no_responsive">
	<div class="main_content">
		<h1>This applications is not available for small resolution screens.</h1>
		<p>To see this content, you should access from a device that supports minimum 1024 pixels resolution.</p>
		<img src="images/logo-ph-negative.png">
	</div>
</div>