<div class="main_header">

	<div class="wrap_header">

		<!-- Left -->
		<div class="left_content">
			<a href="index.php"><img class="logo_ph" src="images/header/logo-ph-header.png"></a>
		</div>

		<!-- Right -->
		<div class="right_content">
			<div class="main_content">




				<!-- Profile -->
				<div class="wrap_profile popover_toggle" tabindex="0">
					<span class="pic_user round user_picture_demo"></span>
					<!-- <span class="pic_user round"><span class="pic_user_text">LB</span></span> -->
					<span class="name_user">Lisa Blakey</span>
					<span class="arrow"></span>

					<div class="wrap_popover popover_item dark width180">
						<ul class="main_popover_options">
							<li>View or Edit profile</li>
							<li>Settings</li>
							<span class="sep"></span>
							<li>Logout</li>
						</ul>
					</div>
				</div>





				<!-- Notify -->
				<div class="wrap_notify popover_toggle" tabindex="0">

					<!-- Icon -->
					<div class="icon_notify">
						<!-- <soan class="num">2</soan> -->
						<span class="icon_20 notify"></span>
					</div>

					<!-- Popover -->
					<div class="wrap_popover_custom popover_item notify">

						<!-- Header -->
						<div class="main_header_popover">
							<article>Notify</article>
							<div class="right">
								<a href="">Mark all readed</a>
							</div>
						</div>

						<!-- Content -->
						<div class="main_content_popover">
							<ul class="wrap_content">

								<!-- List Content-->
								<li class="new">

									<!-- Rigt options -->
									<div class="right">

										<!-- More options + Popover -->
										<span class="options" tabindex="0">

											<!-- Icon -->
											<span class="icon_20 more_options"></span>

											<!-- Popover -->
											<div class="wrap_popover dark width180">
												<ul class="main_popover_options">
													<li>Hide</li>
													<span class="sep"></span>
													<li>Delete</li>
												</ul>
											</div>
										</span>

										<!-- Icon status notification -->
										<span class="new"></span>
									</div>

									<!-- List -->
									<div class="list_content user">
										<span class="pic_user round user_picture_demo"></span>
										<!-- <span class="pic_user round"><span class="pic_user_text">LB</span></span> -->
										<p><a href="">Lisa Blakey</a> title notification Lorem Ipsum is simply dummy ipsum lorem direm. <span class="date">1d ago</span></p>
									</div>
								</li>

								<li>
									<!-- Rigt options -->
									<div class="right">

										<!-- More options + Popover -->
										<span class="options" tabindex="0">

											<!-- Icon -->
											<span class="icon_20 more_options"></span>

											<!-- Popover -->
											<div class="wrap_popover dark width180">
												<ul class="main_popover_options">
													<li>Hide</li>
													<span class="sep"></span>
													<li>Delete</li>
												</ul>
											</div>
										</span>
									</div>

									<!-- List -->
									<div class="list_content">
										<p>Title notification Lorem Ipsum is simply dummy ipsum lorem. <span class="date">1d ago</span></p>

										<div class="buttons_footer_notify">
											<a class="btn primary small">Accept</a>
											<a class="btn secondary small">Cancel</a>
										</div>
									</div>
								</li>

								<!-- Open more notifications -->
								<div class="open_more">
									<a>+ View more 20 results</a>
								</div>

							</ul>
						</div>
					</div>
				</div>




				<!-- Separator -->
				<span class="separator"></span>




				<!-- Search -->
				<div class="wrap_search popover_toggle" tabindex="0">

					<!-- Icon search -->
					<span class="icon_20 search"></span>

					<!-- Input -->
					<input class="search_header_input popover_search" placeholder="Search">

					<!-- Popover -->
					<div class="wrap_popover_custom popover_item search_header">

						<!-- Loading -->
						<!-- <div class="load_process">
							<span class="icon_load"></span>
						</div> -->

						<!-- List search -->
						<ul class="main_list_search_result_header">
							<article>Results</article>
							<li>
								<span class="icon_20 search invert"></span>
								<span class="text">application for system</span>
							</li>
							<li>
								<span class="icon_20 search invert"></span>
								<span class="text">download application for iOS</span>
							</li>
							<li>
								<span class="icon_20 search invert"></span>
								<span class="text">download application for Android</span>
							</li>

							<article class="pt20">Recent searches</article>
							<li>
								<span class="icon_20 doc"></span>
								<span class="text">Settlement</span>
							</li>
							<a class="more">View all results</a>
						</ul>
					</div>
				</div>




			</div>
		</div>
	</div>
</div>


























