<div class="wrap_header">

	<!-- Left -->
	<div class="left_content">
		<ul class="main_menu_header">
			<li <? if($view == "home") : ?>class="select"<? endif ?>><a href="index.php">Home</a></li>
			<li <? if($view == "payments") : ?>class="select"<? endif ?> ><a href="payments.php">Payments</a></li>
			<li <? if($view == "settlement") : ?>class="select"<? endif ?>><a href="settlement.php">Settlement</a></li>
			<li <? if($view == "status") : ?>class="select"<? endif ?>><a href="status.php">Status</a></li>
			<li <? if($view == "auditor") : ?>class="select"<? endif ?>><a href="auditor.php">Auditor</a></li>
			<li <? if($view == "tools") : ?>class="select"<? endif ?>><a href="tools.php">Tools</a></li>
		</ul>
	</div>

	<!-- Right -->
	<div class="right_content">
		<ul class="main_menu_header">
			<li <? if($view == "configuration") : ?>class="select"<? endif ?>><a href="configuration.php">Configuration</a></li>
		</ul>
	</div>
</div>



























