<div class="wrap_header">


	<!-- Payments -->

	<? if($view == "payments") : ?>
		<!-- Left -->
		<div class="left_content">
			<ul class="main_menu_header">
				<li <? if($subview == "payments_list") : ?>class="select"<? endif ?>><a href="payments.php">Payments list</a></li>
				<li <? if($subview == "unparsables") : ?>class="select"<? endif ?>><a href="payments-unparsables.php">Unparsables</a></li>
			</ul>
		</div>

		<!-- Right -->
		<div class="right_content">
			<ul class="main_menu_header">
			</ul>
		</div>
	<? endif ?>




	<!-- Settlement -->

	<? if($view == "settlement") : ?>
		<!-- Left -->
		<div class="left_content">
			<ul class="main_menu_header">
				<li <? if($subview == "cycles_list") : ?>class="select"<? endif ?>><a href="settlement.php">Cycles list</a></li>
			</ul>
		</div>

		<!-- Right -->
		<div class="right_content">
			<ul class="main_menu_header">
			</ul>
		</div>
	<? endif ?>




	<!-- Status -->

	<? if($view == "status") : ?>
		<!-- Left -->
		<div class="left_content">
			<ul class="main_menu_header">
				<li <? if($subview == "fps_status") : ?>class="select"<? endif ?>><a href="status.php">Faster payment status</a></li>
				<li <? if($subview == "current_risk_position") : ?>class="select"<? endif ?>><a href="current-risk-position.php">Current risk position</a></li>
				<li <? if($subview == "store_and_forward") : ?>class="select"<? endif ?>><a href="store-and-forward.php">Store and forward</a></li>
			</ul>
		</div>

		<!-- Right -->
		<div class="right_content">
			<ul class="main_menu_header">
			</ul>
		</div>
	<? endif ?>




	<!-- Auditor -->

	<? if($view == "auditor") : ?>
		<!-- Left -->
		<div class="left_content">
			<ul class="main_menu_header">
				<li <? if($subview == "audits_list") : ?>class="select"<? endif ?>><a href="auditor.php">Audits list</a></li>
				<li <? if($subview == "event_list") : ?>class="select"<? endif ?> ><a href="auditor-event-list.php">Events list</a></li>
			</ul>
		</div>

		<!-- Right -->
		<div class="right_content">
			<ul class="main_menu_header">
			</ul>
		</div>
	<? endif ?>





	<!-- Tools -->

	<? if($view == "tools") : ?>
		<!-- Left -->
		<div class="left_content">
			<ul class="main_menu_header">
				<li <? if($subview == "sort_codes") : ?>class="select"<? endif ?>><a href="tools.php">Sort codes</a></li>
				<li <? if($subview == "client_payments_batch") : ?>class="select"<? endif ?> ><a href="client-payments-batch.php">Client payments batch</a></li>
				<li <? if($subview == "faster_payment_settlement") : ?>class="select"<? endif ?> ><a href="faster-payment-settlement.php">Faster payment settlement</a></li>
				<li <? if($subview == "accounting_batch") : ?>class="select"<? endif ?> ><a href="accounting-batch.php">Accounting batch</a></li>
				<li <? if($subview == "client_settlement_batch") : ?>class="select"<? endif ?> ><a href="client-settlement-batch.php">Client settlement batch</a></li>
			</ul>
		</div>

		<!-- Right -->
		<div class="right_content">
			<ul class="main_menu_header">
			</ul>
		</div>
	<? endif ?>




	<!-- Configuration -->

	<? if($view == "configuration") : ?>
	<!-- Left -->
	<div class="left_content">
		<ul class="main_menu_header">
			<li <? if($subview == "clients_config") : ?>class="select"<? endif ?>><a href="configuration.php">Clients</a></li>
			<li <? if($subview == "auditing_levels") : ?>class="select"<? endif ?> ><a href="auditing.php">Auditing</a></li>
		</ul>
	</div>

	<!-- Right -->
	<div class="right_content">
		<ul class="main_menu_header">
		</ul>
	</div>
	<? endif ?>


</div>	


























