<div class="main_modal" id="filter-popup">
	<div class="wrap_modal">
		<div class="content_modal">

			<!-- Popup -->
			<div class="main_popup default_450">

				<!-- header -->
				<div class="main_header_popup">
					<span class="title_header">Filters Popup</span>
					<!-- <span class="subtitle_header">Subtitle</span> -->
					<span class="ico_close close-modal"></span>
				</div>




				<!-- Content -->
				<div class="main_content_popup">
						
					<!-- Form -->
					<div class="global_form">
						<div class="base">
							<div class="child w50">
								<article>Sort code</article>
								<input>
							</div>
							<span class="sep_20"></span>
							<div class="child w50">
								<article>Account</article>
								<input>
							</div>
						</div>

						<div class="base">
							<div class="child w50">
								<article>Date from</article>
								<div class="main_icon">
									<span class="icon date_in"></span>
									<input type="date" class="data">
								</div>
							</div>
							<span class="sep_20 ln"></span>
							<div class="child w50">
								<article>Date to</article>
								<div class="main_icon">
									<span class="icon date_out"></span>
									<input type="date" class="data">
								</div>
							</div>
						</div>

						<!-- Toggle -->
						<div class="base">
							<article>Direction</article>
							<div class="main_toggle_buttons w3">
								<input name="text" value="" type="radio" id="text1" checked>
								<label for="text1">All</label>

								<input name="text" value="" type="radio" id="text2">
								<label for="text2">Inbound</label>

								<input name="text" value="" type="radio" id="text3">
								<label for="text3">Outbound</label>
							</div>
						</div>

						<div class="base">
							<article>Client</article>
							<div class="main_select">
								<span class="wrap_arrow"></span>
								<select>
									<option>All clients</option>
									<option>Cater Allen</option>
									<option>Modulr</option>
									<option>Retail</option>
									<option>Corporate</option>
								</select>
							</div>
						</div>

						
						<!-- View more options -->
						<div class="wrap_view_more">
							<a id="toggle_filter_extra">View more filters</a>
						</div>

						<div id="filter_extra" class="hidden">
							<div class="base">
								<div class="child w50">
									<article>Beneficiary name</article>
									<input>
								</div>
								<span class="sep_20"></span>
								<div class="child w50">
									<article>Beneficiary reference</article>
									<input>
								</div>
							</div>

							<div class="base">
								<div class="child w50">
									<article>Payment FPID</article>
									<input>
								</div>
								<span class="sep_20"></span>
								<div class="child w50">
									<article>Payment HUB ID</article>
									<input>
								</div>
							</div>

							<div class="base">
								<article>Payment type</article>
								<div class="main_select">
									<span class="wrap_arrow"></span>
									<select>
										<option>All payment types</option>
										<option>SIP - Single Immediate Payment </option>
										<option>SOP - Standing Order Payment</option>
										<option>FDP - Future Dated Payment</option>
										<option>RTP - Return Payment</option>
										<option>SRP - Scheme Return Payment</option>
										<option>REV - Scheme Reversal</option>
									</select>
								</div>
							</div>

							<div class="base">
								<div class="child w50">
									<article>Payment scheme</article>
									<div class="main_select">
										<span class="wrap_arrow"></span>
										<select>
											<option>All schemes</option>
											<option>Bacs</option>
											<option>Chaps</option>
											<option>International Transfers</option>
											<option>Faster Payments</option>
										</select>
									</div>
								</div>
								<span class="sep_20"></span>
								<div class="child w50">
									<article>Currency</article>
									<div class="main_select">
										<span class="wrap_arrow"></span>
										<select>
											<option>GBP - British Pound</option>
										</select>
									</div>
								</div>
							</div>

							<div class="base">
								<div class="child w50">
									<article>Status</article>
									<div class="check2">
										<input type="checkbox" id="check1">
										<label for="check1">Accepted</label>
									</div>
									<div class="check2">
										<input type="checkbox" id="check2">
										<label for="check2">Cond. Accepted</label>
									</div>
									<div class="check2">
										<input type="checkbox" id="check3">
										<label for="check3">Reversed</label>
									</div>
									<div class="check2">
										<input type="checkbox" id="check4">
										<label for="check4">Invalid</label>
									</div>
								</div>
								<span class="sep_20"></span>
								<div class="child w50">
									<article></article>
									<div class="check2">
										<input type="checkbox" id="check5">
										<label for="check5">Rejected by FPC</label>
									</div>
									<div class="check2">
										<input type="checkbox" id="check6">
										<label for="check6">Rejected</label>
									</div>
									<div class="check2">
										<input type="checkbox" id="check7">
										<label for="check7">Over limit</label>
									</div>
									<div class="check2">
										<input type="checkbox" id="check8">
										<label for="check8">Pending</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>





				<!-- Footer -->
				<div class="main_footer_popup">
					<div class="wrap_footer_content">

						<!-- Left -->
						<div class="left_content">
							<a class="reset">Reset all filters</a>
						</div>

						<!-- Right -->
						<div class="right_content">
							<a class="btn primary">Apply</a>
							<span class="sep_20"></span>
							<a id="btn_cancel" class="secondary close-modal">Cancel</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>