.main_login_page{display: table; height: 100%; width: 100%; background: url("@{img}/bg-login.jpeg") @corp2; background-size: cover;
	&:before{.absolute(); .full(); background: fade(#000, 30%); z-index: 1;}

	.wrap_login{width: 100%; display: table-cell; vertical-align: middle; height: 100%; text-align: center; padding: 50px 30px 30px 30px;

		.main_content_login{width: 300px; margin: 0 auto; padding: 35px; .brd(4px); background: #fff; position: relative; z-index: 99;

			// Logo
			.logo_ph{display: inline-block; width: 100%; text-align: center; padding-bottom: 40px;
				img{height: 43px;}
			}

			p{font-size: 14px; line-height: 1.5; display: block; padding-bottom: 30px; color: fade(@corp2, 90%); margin-top: -15px;}

			// Form
			.btn{display: block; height: 41px; padding-top: 11px;}

			// Forgot
			.forgot{display: block; width: 100%; font-size: 12px; color: fade(@corp2, 50%);
				a{color: inherit; text-decoration: underline;}
			}

			// Footer
			.footer{display: block; clear: both; background: fade(@corp2, 5%); margin: 30px -35px -35px -35px; padding: 20px 35px 25px 35px; color: @corp2;
				a{color: fade(@corp2, 60%); position: relative;
					&:hover{color: @corp2;
						&:before{.absolute(); height: 1px; left: 0px; right: 0px; background: fade(@corp2, 20%); bottom: 0px;}
					}
				}
				
				.btn_start{text-decoration: none; display: inline-block; .gradient(bottom, #f1f1f1, #fff); .brd(1px); padding: 13px 13px 14px 13px; font-size: 12px; color: fade(@corp2, 70%); box-shadow: 0px 0px 0px 1px fade(@corp2, 20%); line-height: 0;
					&:before{display: none;}
					&:hover{color: @corp2; box-shadow: 0px 0px 0px 1px fade(@corp2, 30%);}
				}
			}
		}
	}

	// By Santander
	.by_santander{width: 100%; text-align: center; position: relative; z-index: 5; padding-top: 20px;
		img{height: 23px;}
	}
}























