.main_box_content{width: 100%; position: relative; z-index: 1; padding: 0px 30px;
	
	// Dashboard Home
	&.dashboard{
		.box_content{background: @corp2;

			// Header
			.main_header_dashboard{width: 100%; color: #fff; position: relative; height: 55px;
				
				// Left
				.left_content{position: absolute; left: 0px; top: 0px; z-index: 2;

					// Title
					.main_title{position: relative; cursor: pointer;
						.title{display: inline-block; font-size: 18px; font-weight: 500; padding-right: 20px; opacity: .7;}
						.icon_20{position: absolute; right: 0px; .mdl_top(-10px); opacity: .3;}

						&:hover{
							.title{opacity: .8;}
							.icon_20{opacity: .7;}
						}

						&:focus{
							.title{opacity: 1;}
							.icon_20{opacity: 1;}
							.wrap_popover{visibility: visible; opacity: 1; left: -10px;}
						}

						.wrap_popover{top: 30px; left: 0px; .transition(); min-width: 150px;}
					}
				}

				// Middle
				.middle_content{position: absolute; z-index: 1; top: 3px; left: 0px; right: 0px; text-align: center;
					a{color: fade(#fff, 30%); margin: 0px 10px;
						&:hover{color: fade(#fff, 60%);}
						&.select{color: #fff;}
					}
				}

				// Right
				.right_content{position: absolute; z-index: 2; right: 0px; top: 3px;
					a{color: fade(#fff, 50%); margin: 0px 10px;
						&:hover{color: fade(#fff, 80%);}
					}
				}
			}


			// Content
			.main_content_dashboard{width: 100%; color: #fff; display: table;

				// Left content
				.left_content{display: table-cell; width: 50%; vertical-align: top; padding-right: 40px; padding-left: 20px;

					.main_box_content_payments{width: 100%;

						// Title
						.title_box_payments{
							article{display: block; color: #fff; font-weight: 500; font-size: 30px;}
						}

						// Content
						.wrap_box_content_payments{width: 100%; display: table;
							.main_info{display: table-cell; width: 50%;

								// Title info
								.title_main_info{width: 100%; position: relative; z-index: 1;
									.title{display: inline-block; font-size: 18px; font-weight: 500; z-index: 1; white-space: nowrap; background: @corp2; padding-right: 10px;
										&:before{.absolute(); height: 1px; top: 14px; left: 0px; right: 0px; z-index: -1;}
									}

									&.green_2{
										.title{
											&:before{background: @green_2;}
										}
									}

									&.blue_2{
										.title{
											&:before{background: @blue_2;}
										}
									}
								}

								// Content info
								.wrap_info{display: block; padding-bottom: 30px;
									&:last-child{padding-bottom: 0px;}

									span{display: block;
										&.price{font-size: 36px; font-weight: 500;}
									}
								}
							}
						}


						// Box stat
						.main_box_stat_payments{width: 100%; height: 230px; position: relative;
							img{width: 100%; position: absolute; bottom: 0px;}
						}
					}
				}





				// Right content
				.right_content{display: table-cell; width: 50%; vertical-align: top;}

				// Box stat content
				.main_box_content{width: 100%; display: block; background: darken(@corp2, 3%); .brd(3px); padding: 30px; margin-bottom: 30px;
					&:last-child{margin-bottom: 0px !important;}

					// Title
					article{font-size: 24px; font-weight: 500; display: block; width: 100%; margin-top: -4px;
						.right{float: right;}
					}

					// Content info
					.main_info_content{width: 100%; display: table; padding-top: 20px;
						.main_info{display: table-cell; position: relative; vertical-align: top; padding-left: 40px;

							// Title info
							.title_main_info{position: absolute; font-size: 16px; .rotate(-90deg); left: 0px; bottom: 0px; top: 0px; font-weight: 500; .cubo(228px); pointer-events: none;
								.title{display: inline-block; z-index: 1; white-space: nowrap; background: darken(@corp2, 3%); padding-right: 10px;
									&:before{.absolute(); height: 1px; top: 14px; left: 0px; right: 0px; z-index: -1;}
								}

								&.green_2{
									.title{
										&:before{background: @green_2;}
									}
								}

								&.blue_2{
									.title{
										&:before{background: @blue_2;}
									}
								}
							}

							// Content info
							.wrap_info{display: block; padding-bottom: 30px;
								&:last-child{padding-bottom: 0px;}
								span{display: block;
									&.price{font-size: 26px; font-weight: 500;}
								}
							}
						}
					}
				}
			}
		}
	}


	// Tabs
	nav.main_tabs_header_box_content{display: block;
		ul{
			li{display: inline-block; margin-right: 20px; cursor: pointer; color: fade(@corp2, 50%);
				&:hover{color: fade(@corp2, 80%);}
				&.select{color: @corp2; font-weight: 500;}
			}
		}
	}


	// Default
	.box_content{width: 100%; max-width: 1100px; margin: 0 auto; padding: 30px; background: #fff; .brd(3px); box-shadow: 0px 0px 0px 1px fade(@corp2, 5%), 0px 1px 2px fade(@corp2, 20%); min-height: 300px;

		// Header
		.main_header_content{width: 100%; box-shadow: 0px 1px 0px fade(@corp2, 15%);

			.wrap_header_content{width: 100%; display: table; height: 98px; .no_select(); cursor: default;

				// Left
				.left_content{display: table-cell; vertical-align: middle;
					article{font-size: 18px; font-weight: 500; display: block; padding-bottom: 2px;}
				}

				// Right
				.right_content{display: table-cell; vertical-align: middle;
					
					// Position right element
					.section_content{float: right; margin-left: 20px;
						.icon_20{
							&.download{position: absolute; .mdl(-10px, -10px);}
						}
					}
				}
			}


			// Filter
			.main_section_filter{width: 100%; display: inline-block; padding: 20px 20px 15px 20px; .brd(4px); background: fade(@blue, 5%); position: relative; margin-bottom: 30px;

				// Button close filter
				.close_filter{display: inline-block; position: absolute; .cubo(24px); .brd(50%); background: #fff; right: -8px; top: -8px; cursor: pointer;
					&:before, &:after{.absolute(); width: 10px; height: 2px; background: lighten(@corp2, 30%); .mdl(-5px, -1px);}
					&:before{.rotate(45deg);}
					&:after{.rotate(-45deg);}

					&:hover{
						&:before, &:after{background: @corp2;}
					}
				}

				// Tags
				.tag{display: inline-block; cursor: default; .no_select(); font-size: 12px; margin-bottom: 6px; margin-right: 3px; color: #fff; background: lighten(@blue, 10%); .brd(2px); line-height: 1; padding: 7px 30px 8px 10px; position: relative;
					.delete{display: inline-block; position: absolute; .cubo(20px); .brd(50%); right: 5px; .mdl_top(-11px); cursor: pointer; opacity: .3;
						&:before, &:after{.absolute(); width: 10px; height: 2px; background: #fff; .mdl(-5px, -1px);}
						&:before{.rotate(45deg);}
						&:after{.rotate(-45deg);}

						&:hover{opacity: .7;}
					}

					.text{max-width: 300px; display: inline-block; .truncate();
						b{font-weight: bold;}
					}
				}
			}
		}




		// Content
		table{border-collapse: collapse; text-align: left; font-size: 14px; width: 100%; cursor: default;
			
			tr{box-shadow: 0px 1px 0px fade(@corp2, 15%);
				&.select{background: fade(@blue, 7%);}

				// Hover custom tr
				&.hover{cursor: pointer;
					&:hover{background: fade(@corp2, 3%);}
				}
			}
			
			th{font-size: 12px; color: fade(@corp2, 50%); white-space: nowrap; font-weight: normal; padding: 7px 15px 8px 15px; letter-spacing: -0.3px; .no_select();}
			
			td{padding: 12px 15px 13px 15px;}
			
			.right{text-align: right;}
			.max_200{display: inline-block; max-width: 200px; .truncate();}
			.max_300{display: inline-block; max-width: 300px; .truncate();}

			// Arrow open table
			.arrow_tr{opacity: .5; cursor: pointer;
				&:hover{opacity: .8;}
				&.open{opacity: 1;}
			}

			// Detail tr content
			.detail_tr_content{padding: 0px; position: relative;
				.main_content_tr{width: 100%; position: relative;
					.wrap_content_tr{width: 100%; background: lighten(@corp2, 75%); box-shadow: 0px 0px 0px 1px lighten(@corp2, 65%); .brd(2px); padding: 10px;
						&:before, &:after{.absolute(); top: -10px; left: 15px; .cubo(0px); border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid lighten(@corp2, 75%); z-index: 2;}
						&:after{border-bottom: 10px solid lighten(@corp2, 65%); top: -11px; z-index: 1;}

						// Content
						.box_content_tr{display: block; width: 100%; padding: 20px; box-shadow: 0px 0px 0px 1px lighten(@corp2, 65%), 0px 2px 0px #fff; background: #fff; position: relative;
							
							// Header
							.header_content_tr{display: table; width: 100%; position: relative;
								.left_content, .right_content{display: table-cell; vertical-align: top;}
								.right_content{text-align: right;}

								// Info date - Start & End date
								.wrap_info_date{float: left;
									.icon_position{float: left; margin-right: 10px; position: relative; display: inline-block; .cubo(35px); box-shadow: inset 0px 0px 0px 1px fade(@corp2, 20%); .brd(2px);
										.icon_20{position: absolute; .mdl(-10px, -10px);}
									}
									
									.info_text{display: inline-block;
										.title, .subtitle{display: block;}
									}
								}
							}

							// Button open message code
							.button_content_tr{width: 100%;
								.btn{display: block;
									&.secondary{background: fade(@corp2, 5%); box-shadow: inset 0px 0px 0px 1px lighten(@corp2, 60%); color: @blue !important; text-shadow: none; font-weight: 500; padding: 15px 0px 17px 0px;
										&:hover{color: darken(@blue, 10%) !important; box-shadow: inset 0px 0px 0px 1px lighten(@corp2, 50%);}
										&:active{background: fade(@corp2, 10%);}
									}
								}
							}

							// Message code
							.main_content_message_code_tr{display: block; width: 100%; background: lighten(@corp2, 10%); padding: 0px; /*box-shadow: inset 0px 0px 0px 1px @corp2;*/ position: relative; z-index: 1;
								
								// Header
								.wrap_header_message{width: 100%; display: table; color: #fff; height: 40px; box-shadow: 0px 1px 0px @corp2, 0px -1px 0px @corp2, inset 0px 1px 0px fade(#fff, 10%); position: relative;
									
									.left_content, .right_content{display: table-cell; vertical-align: middle; 
										.title{color: fade(#fff, 50%); display: inline-block; padding-bottom: 2px;}
									}

									.left_content{padding-left: 15px;}

									.right_content{text-align: right; padding-right: 15px;
										.minimize_message, .maximize_message, .copy{opacity: .5; cursor: pointer; margin-left: 15px;
											&:hover{opacity: .8;}
											&:active{opacity: .5;}
										}

										// Text + Icon tik
										.copy_text{font-size: 12px; opacity: .7;
											.icon_20{opacity: .5;}
										}
									}
								}

								// Content
								.main_content_message{display: inline-block; width: 100%; padding: 20px 20px 22px 20px; background: fade(@corp2, 50%); color: #fff;}
							}
						}
					}
				}
			}
			
			.tag{font-size: 11px; text-transform: uppercase; font-weight: bolder; color: #fff !important; padding: 3px 8px 4px 8px; .brd(2px); letter-spacing: -0.3px; .no_select();
				&.green{background: @green;}
				&.red_error{background: @red_error;}
				&.red{background: @red;}
				&.yellow{background: @yellow;}
				&.orange{background: @orange;}
			}
		}


		// Footer
		.main_footer_content{width: 100%; display: table; padding-top: 30px;
			.left_content{display: table-cell; vertical-align: middle;}
			.right_content{display: table-cell; vertical-align: middle; text-align: right;}

			// Paginator
			.main_paginator{
				.buttons_direction{
						.btn{vertical-align: middle; margin-right: -5px;
						&:first-child{.brd_custom(2px, 0px, 0px, 2px);}
						&:last-child{.brd_custom(0px, 2px, 2px, 0px);}
						.icon_20{opacity: .7;}

						&:hover{
							.icon_20{opacity: .9;}
						}

						&.active{
							.icon_20{opacity: 1;}
						}
					}
				}

				.text{vertical-align: middle; display: inline-block; padding-right: 10px;}
			}
		}
	}
}























