.btn{display: inline-block; text-align: center; min-height: 35px; min-width: 50px; padding: 9px 20px 10px 20px; line-height: 1; font-weight: bold; .brd(2px); font-size: 14px; border: none; cursor: pointer; position: relative; .no_select() !important; color: @corp2;

	&.small{padding: 7px 15px 8px 15px; min-height: auto;}

 	&.primary{.gradient(top, lighten(@corp2, 5%), @corp2); font-weight: 600; color: #fff; box-shadow: inset 0px 0px 0px 1px fade(@corp2, 50%), inset 0px 2px 0px fade(#fff, 10%), 0px 1px 0px fade(#fff, 50%);
 		&:hover{.gradient(top, lighten(@corp2, 10%), @corp2);}
 		&:active{background: @corp2; box-shadow: inset 0px 0px 0px 1px fade(#000, 10%), inset 0px 1px 1px fade(#000, 10%); color: fade(#fff, 80%);}
 	}

 	&.secondary{color: lighten(@corp2, 15%) !important; position: relative; text-shadow: 0px 1px 0px #fff; .gradient(top, lighten(@corp2, 76%), lighten(@corp2, 73%)); .brd(2px); box-shadow: inset 0px 0px 0px 1px fade(@corp2, 30%), inset 0px 2px 0px #fff, 0px 1px 0px fade(#fff, 50%); color: fade(@corp2, 70%); margin: 0px; font-weight: 400;
 		&:hover{color: @corp2 !important; box-shadow: inset 0px 0px 0px 1px fade(@corp2, 40%), inset 0px 2px 0px #fff, 0px 1px 0px fade(#fff, 50%); z-index: 1;}

 		&:active{color: darken(@corp2, 10%) !important; .gradient(top, lighten(@corp2, 73%), lighten(@corp2, 70%)); box-shadow: inset 0px 0px 0px 1px fade(@corp2, 40%), inset 0px 1px 1px fade(@corp2, 20%), 0px 1px 0px fade(#fff, 50%); z-index: 1;}

		&.invert{background: #fff !important;}
	}

	&.dis{box-shadow: inset 0px 0px 0px 1px fade(@corp2, 10%); background:  transparent; color: fade(@corp2, 20%); pointer-events: none;
		.icon_20{opacity: .3;}
	}
}




















