// Check 2

.check2{display: inline-block; margin: 3px 0px 5px 0px; position: relative; z-index: 0; .no_select();

	label{display: block; position: relative; padding-left: 45px; vertical-align: top; line-height: 1.5; cursor: pointer; color: fade(@corp2, 60%);

		// Thumb
		&:before {.absolute(); .cubo(19px); left: 0px; top: 1px; .brd(50%); z-index: 1; .gradient(top, lighten(@corp2, 78%), lighten(@corp2, 75%));  .transition(); box-shadow: 0px 0px 0px 1px fade(@corp2, 30%), inset 0px 1px 0px #fff;}

		// Track
		&:after{.absolute(); width: 34px; height: 7px; left: 0px; top: 7px; background: lighten(@corp2, 55%); .brd(20px); box-shadow: inset 0px 0px 0px 1px fade(@corp2, 30%); .transition();}

		&:hover{color: fade(@corp2, 80%);
			&:before{box-shadow: 0px 0px 0px 1px fade(@corp2, 40%);}
			&:after{box-shadow: inset 0px 0px 0px 1px fade(@corp2, 30%);}
		}

		&:active{
			&:before{left: 4px;}
		}
	}
}

.check2 input[type=checkbox]:checked + label{color: @corp2;

	// Thumb
	&:before{left: 15px !important; box-shadow: 0px 0px 0px 1px darken(@green, 10%);}

	&:active{
		&:before{left: 12px !important;}
	}

	// Track
	&:after{background: @green; box-shadow: inset 0px 0px 0px 1px fade(@corp2, 15%);}
}