// ––––––
// Check

.check{display: inline-block; margin: 6px 0px; position: relative; .no_select();
	&.login{
		label{
			&:before{box-shadow: inset 0px 0px 0px 1px fade(#fff, 30%); background: transparent;}

			&:hover{color: fade(#fff, 70%);
				&:before{box-shadow: inset 0px 0px 0px 1px fade(#fff, 40%);}
			}
		}

		input[type=checkbox]:checked + label{color: fade(#fff, 70%);
			&:before{box-shadow: none;}
			&:active{
				&:before{box-shadow: none;}
			}
		}
	}

	label{display: inline-block; position: relative; font-size: 14px; padding-left: 30px; height: 21px; font-weight: 400; padding-bottom: 20px; vertical-align: top; line-height: 20px; cursor: pointer;

		&:before{.absolute(); .cubo(21px); left: 0; .brd(2px); box-shadow: inset 0px 0px 0px 1px fade(@corp2, 30%); background: #fff;}
		&:after{.absolute(); .cubo(21px); left: 0px; background: transparent; left: 0px; top: 0px; background-size: 20px !important;}

		&:hover{
			&:before {box-shadow: inset 0px 0px 0px 1px fade(@corp2, 40%);}
		}

		&:active{
			&:before{background: fade(@corp2, 5%); box-shadow: inset 0px 1px 1px fade(@corp2, 15%), inset 0px 0px 0px 1px fade(@corp2, 40%);}
		}
	}

	&.dis{
		label{pointer-events: none !important; color: rgba(0, 0, 0, 0.3);
			&:before{box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1); background: rgba(0, 0, 0, 0.02); color: rgba(0, 0, 0, 0.2);}
		}
	}

	&.err{
		label{
			&:before{box-shadow: inset 0px 0px 0px 1px @red_error;}
		}
	}

	span{display: inline-block; padding-left: 30px; margin: 0px; margin-top: -4px;}
}

.check input[type=checkbox]:checked + label{

	&:after{background: url("@{img}/core/icons/icon-20.png") no-repeat center -80px;}
	&:before{background: @corp; box-shadow: inset 0px 0px 0px 1px darken(@corp, 5%);}
	
	&:hover{
		&:before{background: lighten(@corp, 2%);}
	}

	&:active{
		&:before{background: darken(@corp, 5%); box-shadow: inset 0px 1px 1px fade(@corp2, 20%), inset 0px 0px 0px 1px fade(@corp2, 15%);}
		&:after{opacity: .8;}
	}
}

























