// ·················
// Arrow

.arrows-combo{
	position: relative;
	vertical-align: top;
	display: inline-block;

	&:before{
		width: 0;
	    height: 0;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    border-top: 10px solid rgba(0, 0, 0, 0.4);
		content: "";
		pointer-events: none;
		position: absolute;
		right: 15px;
		top: 17px;
		z-index: 1;
	}

	&:hover{
		&:before{
	    	border-top: 10px solid @corp;
		}
	}
}

// ·················
// Combo

select{
	padding-right: 40px;
	color: rgba(0, 0, 0, 0.8);
}