.global_form{width: 100%; padding-bottom: 20px;
	&:last-child{padding-bottom: 0px;}


	// Information Toast
	.wrap_notify{display: block; width: 100%; padding: 18px 40px 21px 25px; .brd(2px); background: fade(@yellow, 10%); color: darken(@orange, 15%); box-shadow: inset 0px -1px 0px fade(@corp2, 10%), inset 0px 0px 0px 1px lighten(@orange, 20%), 0px 1px 1px fade(@corp2, 5%); overflow: auto; font-size: 12px; line-height: 1.6; position: relative;

		a{display: inline-block; position: relative; color: darken(@orange, 15%);
			&:before{.absolute(); width: 100%; height: 1px; bottom: 0px; background: fade(@orange, 30%);}
			&:hover{color: darken(@orange, 20%);
				&:before{background: fade(@orange, 50%);}
			}
		}

		&.information{background: lighten(@blue, 30%); color: darken(@blue, 20%); box-shadow: inset 0px -1px 0px fade(@corp2, 15%), inset 0px 0px 0px 1px lighten(@blue, 20%), 0px 1px 1px fade(@corp2, 5%);
			a{color: @blue;
				&:before{background: fade(@blue, 30%);}
				&:hover{color: darken(@blue, 10%);
					&:before{background: fade(@blue, 50%);}
				}
			}
		}


		&.error{background: lighten(@red_error, 30%); color: darken(@red, 20%); box-shadow: inset 0px -1px 0px fade(@corp2, 15%), inset 0px 0px 0px 1px lighten(@red_error, 20%), 0px 1px 1px fade(@corp2, 5%);
			a{color: @red;
				&:before{background: fade(@red, 30%);}
				&:hover{color: darken(@red, 10%);
					&:before{background: fade(@red, 50%);}
				}
			}
		}

		// Icon close
		.ico_close{position: absolute; .cubo(21px); top: 10px; right: 10px; z-index: 1; opacity: .5; cursor: pointer;
			&:before, &:after{.absolute(); width: 15px; height: 1px; background: @corp2; .rotate(45deg); .mdl(-8px, 0px);}
			&:before{.rotate(-45deg);}
			&:hover{opacity: .9;}
		}
	}



	// BASE
	.base{width: 100%; padding-bottom: 17px; display: table;
		&:last-child{padding-bottom: 0px;}

		.w100{width: 100%;}
		.w_auto{width: auto;}


		// CHILD
		.child{display: table-cell; vertical-align: top; position: relative;
			article{
				small{
					&.right{font-size: 10px !important; font-weight: 600; padding-top: 1px;}
				}
			}
		}


		// Title
		h2, h3, h4{font-weight: 400; display: block; color: lighten(@corp2, 15%); line-height: 1;}
		h2{font-size: 18px;}
		h3{font-size: 16px;}
		h4{font-size: 14px; padding: 0px; margin: 0px;}


		// Free text
		.text{display: block; padding-top: 7px; color: @corp2;
			b{font-weight: 500;}
		}


		.main_input_search{width: 100%;
			input{width: 100%;}
		}

		// Label
		article{font-weight: 400; margin-bottom: 3px; font-size: 14px; display: block; height: 20px; position: relative; width: 100%; color: lighten(@corp2, 25%);
			.right{float: right; font-size: 12px; color: lighten(@corp2, 40%); font-weight: normal; padding-right: 2px;
				b{font-weight: 500; color: lighten(@corp2, 30%);}
			}

			// ?
			u{display: inline-block; text-decoration: none; font-weight: bold; color: @blue; cursor: pointer;}
			i{display: inline-block; text-decoration: none; font-weight: bold; vertical-align: top; margin-top: 7px; margin-right: 3px; .cubo(5px); .brd(50%); background: @red_error;}
		}


		// Description - Puede ir tanto en Child como en Base
		.description{display: block; font-size: 12px; color: lighten(@corp2, 40%); padding-top: 6px; line-height: 1.4;}


		.check2{width: 100%;}


		// Upload picture (Basic item)
		.upload_picture{width: 100%; display: table; position: relative;

			// Picture
			.picture{float: left; .cubo(41px); .brd(2px); position: relative; background: url("@{img}/core/user-test.png") no-repeat center fade(@corp2, 5%); background-size: cover; margin-right: 10px;
				&:before{.absolute(); .full(); box-shadow: inset 0px 0px 0px 1px fade(@corp2, 10%); .brd(2px);}
			}

			.title{display: block; max-width: 80%; .truncate();}
			.secondary{width: 100%; text-align: center;}
		}


		// Separate
		.separator_divide{display: block; width: 100%; height: 1px; background: fade(@corp2, 20%);}


		// Footer
		.footer_base{display: table; width: 100%; padding: 10px 0px 0px 0px;
			.left_content{display: table-cell;}
			.right_content{display: table-cell; text-align: right;}
		}


		// Isolate - Comodín para cuando quieres poner más cosas en el Base
		.isolate{width: 100%; display: table;}
	}


	// Open & View more options
	.wrap_view_more{position: relative; width: 100%; text-align: center; margin-top: 10px;
		&:before{.absolute(); left: 0px; right: 0px; border-bottom: 1px dashed fade(@corp2, 30%); top: 13px;}
		a{display: inline-block; box-shadow: 0px 0px 0px 1px fade(@corp2, 20%); padding: 4px 15px 6px 15px; .brd(2px); background: #fff; position: relative; z-index: 2;
			&:active{background: lighten(@corp2, 73%);}
		}
	}


	// Toggle basic (only 2 components)
	.toggle{display: flex; position: relative;
		input, select, .btn{display: table-cell !important; .brd(0px); margin-right: -1px; width: 100%;
			&:first-child{.brd_custom(2px, 0px, 0px, 2px); margin-right: -1px;}
			&:last-child{.brd_custom(0px, 2px, 2px, 0px);}

			&.select{background: fade(@corp2, 70%) !important; z-index: 2; box-shadow: inset 0px 1px 1px fade(@corp2, 50%), inset 0px 0px 0px 1px fade(@corp2, 20%); color: #fff !important;}
		}
	}



	// Footer
	.wrap_footer_form{width: 100%; display: table; padding-top: 10px;
		.left_content{float: left;}
		.right_content{float: right;
			.primary{margin-left: 20px;}
			.secondary{font-weight: normal;}
		}
	}
}



// Icon form
.main_icon{position: relative; vertical-align: top; display: inline-block; width: 100%; z-index: 4;
	.icon{position: absolute; pointer-events: none; .mdl_top(-10px); .cubo(20px); background-size: 100% !important; z-index: 4;
		&.date_in{background: url("@{img}/icons/icon-20.png") no-repeat center -160px #fff; right: 8px;}
		&.date_out{background: url("@{img}/icons/icon-20.png") no-repeat center -180px #fff; right: 8px;}
	}
}



















