input, textarea, select{font-family: @font_family, sans-serif; font-size: 14px; min-height: 35px; padding: 7px 15px 10px 13px; box-shadow: inset 0px 0px 0px 1px fade(@corp2, 20%) !important; border: none !important; .brd(2px); font-weight: 400; width: 100%; display: table; background: #fff; color: @corp2 !important;

	&:hover{box-shadow: inset 0px 0px 0px 1px fade(@corp2, 30%) !important;}

	// Error
	&.err{box-shadow: inset 0px 0px 0px 1px @red !important;}

	// Disabled
	&.dis{box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1); background: rgba(0, 0, 0, 0.02); color: rgba(0, 0, 0, 0.2); pointer-events: none; .no_select(); cursor: default; color: fade(@corp2, 50%) !important;}

	&::-webkit-input-placeholder{color: fade(@corp2, 40%); text-transform: none; font-size: inherit;}
	&::-moz-placeholder{color: fade(@corp2, 40%); font-size: inherit;}

	&:focus{box-shadow: inset 0px 0px 0px 1px fade(@corp2, 30%), inset 0px 1px 1px fade(@corp2, 15%) !important;
		&::-webkit-input-placeholder{color: fade(@corp2, 20%); font-size: inherit;}
		&::-moz-placeholder{color: fade(@corp2, 20%); font-size: inherit;}
	}
}
