// Default icons
.icon_20{display: inline-block; vertical-align: top; .cubo(20px); background: url("@{img}/icons/icon-20.png") no-repeat; background-size: 20px !important;
	&.notify{background-position: 0px 0px;}
	&.search{background-position: 0px -20px;
		&.invert{background-position: 0px -100px;}
	}
	&.more_options{background-position: 0px -40px;}
	&.load{background-position: 0px -60px;}
	&.doc{background-position: 0px -80px;}
	&.download{background-position: 0px -140px;}
	&.arrow_tr{background-position: 0px -200px;
		&.open{background-position: 0px -220px;}
	}
	&.date{
		&.start{background-position: 0px -160px;}
		&.end{background-position: 0px -180px;}
	}
	&.copy{background-position: 0px -240px;}
	&.minimize_message{background-position: 0px -260px;}
	&.maximize_message{background-position: 0px -280px;}
	&.tik_white{background-position: 0px -300px;}
	&.outbound{background-position: 0px -320px;}
	&.inbound{background-position: 0px -340px;}
	&.pag_left{background-position: 0px -360px;}
	&.pag_right{background-position: 0px -380px;}
	&.arrow_white{background-position: 0px -400px;}
}

// Icon 30
.icon_35{display: inline-block; .cubo(35px); background: url("@{img}/icons/icon-35.png") no-repeat 0px 0px; background-size: 35px !important; position: relative;
	&.outbound{background-position: 0px 0px;
		&:before{.absolute(); .full(); .brd(50%); box-shadow: 0px 1px 0px fade(#fff, 50%);}
	}
	&.inbound{background-position: 0px -35px;
		&:before{.absolute(); .full(); .brd(50%); box-shadow: 0px 1px 0px fade(#fff, 50%);}
	}
}

// Icon 40
.icon_40{display: inline-block; .cubo(40px); background: url("@{img}/core/icons/icon-40.png") no-repeat 0px 0px; background-size: 40px !important;
	&.tik{background-position: 0px 0px;}
	&.mail{background-position: 0px -40px;}
	&.impront{background-position: 0px -80px;}
	&.gift{background-position: 0px -120px;}
	&.error{background-position: 0px -160px;}
}

// Icons BTN + Before
.icon_btn{padding-left: 37px !important;
	&:before{.absolute(); left: 6px; .mdl_top(-11px); .cubo(20px); padding-right: 10px; background: url("@{img}/icons/icon-20.png") no-repeat center 0px; background-size: 20px; opacity: .6;}
	&:hover{&:before{opacity: .8;}}
	&:active{&:before{opacity: 1;}}

	&.filter{&:before{background-position: center -120px;}}
	&.download{&:before{background-position: center -140px;}}
	&.tik{&:before{background-position: center -200px;}}
}


// Only icon + button
.icon_btn_only{
	.icon_20{position: absolute; .mdl(-10px, -10px); opacity: .6;}
	
	&:hover{
		.icon_20{opacity: .8;}
	}

	&:active{
		.icon_20{opacity: 1;}
	}
}


// Icon close
.main_icon_close{position: relative; opacity: .5; cursor: pointer; .no_select();
	&:hover{opacity: 1;}

	.icon_close{.cubo(20px); position: relative; display: inline-block;
		&:before, &:after{.absolute(); width: 15px; height: 1px; background: @corp2; .mdl(-7.5px, -0.5px);}
		&:before{.rotate(45deg);}
		&:after{.rotate(-45deg);}
	}

	.text{display: block; text-shadow: 0px 1px 0px #fff; font-size: 9px; padding-top: 5px; text-transform: uppercase; color: @corp2; text-align: center; line-height: 0;}
}

// Icon Add
.main_icon_add{position: relative; opacity: .5; cursor: pointer;
	&.open{.icon_add{.rotate(45deg);}}
	&:hover{opacity: 1;}

	.icon_add{.cubo(20px); position: relative; display: inline-block; vertical-align: middle;
		&:before, &:after{.absolute(); width: 15px; height: 1px; background: @corp2; .mdl(-7.5px, -0.5px);}
		&:before{.rotate(90deg);}
	}
}












