.load_process{display: block; width: 100%; text-align: center; padding: 20px; position: relative;
	
	// Adapt full screen
	&.full_screen{position: absolute; .full();
		.icon_load{position: absolute; .mdl(-10px, -10px);}
	}
		
	// Icon load
	.icon_load{display: inline-block; .cubo(20px); background: url("@{img}/icons/icon-20.png") no-repeat 0px -60px; background-size: 20px !important; -webkit-animation: rotation 0.5s infinite linear;}

	@-webkit-keyframes rotation {
		from{-webkit-transform: rotate(0deg);}
		to{-webkit-transform: rotate(359deg);}
	}
}