// ––––––
// Modal

.main_modal{background-color: fade(@corp2, 40%); .full(); display: none; position: fixed; width: 100%; height: 100%; z-index: 50;
	&.view{display: table;}

	.wrap_modal{width: 100%; height: 100vh; display: table-cell; vertical-align: middle;
		.content_modal{width: 100%; padding: 50px 30px; max-height: 100vh; position: relative; overflow: auto;}
	}
}




@media screen and (max-width:800px){
	.main_modal{
		
		// Popup preview product
		&#preview-product_popup{display: none !important;}

		// Default modal
		.wrap_modal{
			.content_modal{padding: 0px;}
		}
	}
}



@media screen and (max-width:400px){
	.main_modal{
		.wrap_modal{display: block;
			.content_modal{padding: 0px;}
		}
	}
}