.pic_user{display: inline-block; .cubo(29px); .brd(2px); background-color: lighten(@corp2, 10%); position: relative; overflow: hidden; cursor: default; background-size: cover; background-position: center center;
	// &:before{.absolute(); .full(); box-shadow: inset 0px 0px 0px 2px #fff; .brd(2px);}

	&.round{.brd(50%);
		// &:before{.brd(50%);}
	}
	
	&.blue{background-color: @blue;}
	&.yellow{background-color: @yellow;}
	&.red{background-color: @red;}

	// Picture user
	&.user_picture_demo{background: url("@{img}/components/user.png") no-repeat !important; background-size: cover !important;}

	.icon_30{position: absolute; .mdl(-15px, -15px); display: inline-block;}

	// Text
	.pic_user_text{display: block; font-weight: bold; text-align: center; width: 100%; font-size: 10px; position: absolute; line-height: 0px; .mdl_top(0px); color: fade(#fff, 80%);}
}