// Arrow
.main_arrow{position: absolute; .cubo(20px); cursor: pointer;
	&.custom{.cubo(24px); .brd(3px); margin: 0px; .gradient(top, lighten(@corp2, 73%), lighten(@corp2, 68%)); box-shadow: inset 0px -1px 0px fade(@corp2, 15%), inset 0px 0px 0px 1px fade(@corp2, 15%); color: fade(@corp2, 70%);
		&:hover{box-shadow: inset 0px -1px 0px lighten(@corp2, 40%), inset 0px 0px 0px 1px lighten(@corp2, 50%) !important;}
	}

	&.bottom_right{
		.wrap_popover{right: 1px; top: 24px;}
	}

	&.bottom_left{
		.wrap_popover{left: 0px; top: 20px;}
	}

	&.top_left{
		.wrap_popover{left: 0px; bottom: 20px;}
	}

	&.top_right{
		.wrap_popover{right: 0px; bottom: 20px;}
	}

	&.middle_top{
		.wrap_popover{bottom: 25px;
			.indicative_arrow{bottom: -7px; .rotate(180deg);}
		}
	}

	&.middle_bottom{
		.wrap_popover{top: 25px;
			.indicative_arrow{top: -7px;}
		}
	}

	// Icon
	.icon_arrow_options{position: absolute; display: inline-block; .cubo(20px); /*background: #333;*/ .mdl(-10px, -10px); z-index: 1; opacity: .7;
		&:before, &:after{.absolute(); width: 6px; height: 1px; background: @corp2; .mdl(-1px, -1px);}
		&:before{.rotate(45deg); left: 6px;}
		&:after{.rotate(-45deg); right: 6px;}
	}

	&:hover{
		.icon_arrow_options{opacity: 1;}
	}

	&:focus{
		&.custom{.brd_custom(3px, 3px, 0px, 0px); background: lighten(@corp2, 60%); box-shadow: inset 0px 1px 0px fade(@corp2, 20%), inset 0px 1px 3px fade(@corp2, 10%), inset 0px 0px 0px 1px fade(@corp2, 10%) !important;}
		.icon_arrow_options{opacity: 1;}
		.wrap_popover{visibility: visible; opacity: 1;}
	}
}



// –––––––––––––––––
// Standart PopOver

.main_popover{position: relative; display: inline-block;
	&.right{
		.wrap_popover{right: 0px;}
	}

	&:hover{
		.wrap_popover{opacity: 1; visibility: visible;}
	}
}

.wrap_popover{background: #fff; .brd(2px); box-shadow: 0px 2px 8px fade(@corp2, 15%), 0px 1px 0px fade(@corp2, 10%), 0px 0px 0px 1px fade(@corp2, 10%); position: absolute; z-index: 20 !important; text-align: left; visibility: hidden; opacity: 0; /*width: 150px;*//* .mdl_left(-75px);*/

	// Active mode View / Hide
	&.view{visibility: visible; opacity: 1;}

	// Invert popover
	&.dark{background: #424E59; box-shadow: 0px 2px 10px fade(@corp2, 20%); color: #fff;
		ul.main_popover_options{padding: 5px 2px !important;
			li{color: fade(#fff, 70%); font-weight: 400; padding: 5px 25px 5px 15px !important; white-space: nowrap; font-size: 14px !important;
				&:hover{background: transparent; color: #fff;}
			}

			.sep{background: fade(#fff, 10%); margin: 5px 10px !important;}
		}
	}

	// Small Arrow
	.indicative_arrow{position: absolute; top: -8px; .mdl_left(6px); .cubo(0px); border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid fade(@corp2, 20%);
		&:before{.absolute(); top: 1px; left: -7px; .cubo(0px); border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #fff;}
	}

	// Big Arrow
	.big_indicative_arrow{position: absolute; top: -12px; .mdl_left(-12px); .cubo(0px); border-left: 12px solid transparent; border-right: 12px solid transparent; border-bottom: 12px solid fade(@corp2, 25%);
		&:before{.absolute(); top: 1px; left: -12px; .cubo(0px); border-left: 12px solid transparent; border-right: 12px solid transparent; border-bottom: 12px solid #fff;}
	}

	// Popover options simple
	ul.main_popover_options{width: 100%; padding: 3px !important;
		li{width: 100% !important; padding: 3px 25px 5px 15px !important; .brd(1px); text-shadow: none; color: @corp2; font-size: 14px; font-weight: normal; position: relative; display: block; cursor: pointer; transition: none; .no_select();
			&:hover, &.selected{background: lighten(@corp2, 10%); color: #fff;}
			
			.icon_20{
				&.tik_white{right: 10px !important; .mdl_top(-10px); position: absolute; opacity: .3 !important;}
			}
		}

		article{font-size: 12px; font-weight: 500; color: fade(@corp2, 30%); display: block; padding: 7px 10px;
			// &.top{padding-top: 10px; margin-top: 10px; box-shadow: 0px -1px 0px fade(@corp2, 10%);}
		}

		&.icon{
			li{padding-left: 37px;
				.pic_user{.cubo(20px); position: absolute; left: 10px; top: 4px;
					.pic_user_text{font-size: 9px;}
				}

				.icon_fav{position: absolute; .cubo(20px); /*background: fade(@corp2, 10%);*/ left: 10px; top: 4px;
					img{width: 16px; position: absolute; top: 2px; left: 2px;}
				}
			}
		}
	}


	.sep{display: block !important; clear: both; height: 1px; background: fade(@corp2, 10%); margin: 3px -3px !important;}
}


















