.wrap_popover_custom{width: 100%; color: @corp2; position: absolute; background: #fff; box-shadow: 0px 1px 10px fade(@corp2, 20%); text-align: left; visibility: hidden; opacity: 0;
	&.view{visibility: visible; opacity: 1;}



	// Popover notify
	&.notify{padding: 0px 10px 10px 10px; width: 350px;

		// Header
		.main_header_popover{width: 100%; height: 40px;
			article{font-weight: 500; display: inline-block; padding: 10px 0px 0px 10px;}
			.right{float: right; padding: 11px 10px 0px 0px;
				a{font-weight: normal; color: fade(@corp2, 50%); font-size: 12px;
					&:hover{color: @corp2;}
				}
			}
		}

		// Content
		.main_content_popover{width: 100%; background: fade(@corp2, 5%); position: relative;
			&:before{.absolute(); .full(); box-shadow: inset 0px 0px 0px 1px fade(@corp2, 10%); z-index: 2; pointer-events: none;}
			ul.wrap_content{position: relative; max-height: 400px; overflow-y: auto;
				li{display: block; width: 100%; cursor: default; box-shadow: 0px 1px 0px fade(@corp2, 10%); padding: 15px 20px; font-size: 12px; line-height: 16px; position: relative;
					&.new{background: #fff;}
					
					// List content
					.list_content{padding-right: 50px;
						&.user{
							p{padding-left: 40px; display: block;}
							.pic_user{float: left;}
						}

						.date{font-size: 12px; color: fade(@corp2, 40%);}

						// Buttons
						.buttons_footer_notify{width: 100%; padding-top: 10px; display: table;
							.btn{float: left; margin-right: 10px;}
						}
					}

					// Right
					.right{position: absolute; top: 14px; right: 15px;

						// More options + Popover
						.options{line-height: 0; display: block;
							
							&:hover{
								.icon_20{opacity: .7;}
							}

							&:focus{
								.icon_20{opacity: 1;}
								.wrap_popover{visibility: visible; opacity: 1;}
							}

							.icon_20{cursor: pointer; opacity: .3;}

							.wrap_popover{position: absolute; right: 0px; top: 20px;}
						}

						// New
						.new{display: block; .cubo(20px); position: absolute; right: 25px; top: 0px;
							&:before{.absolute(); .cubo(8px); background: @blue; .brd(50%); .mdl(-4px, -4px);}
						}
					}
				}

				// Open more notifications
				.open_more{display: block; width: 100%; padding: 10px; text-align: center;
					a{font-size: 12px; display: block; padding-bottom: 1px;}
				}
			}
		}
	}





	// Popover search
	&.search_header{padding: 0px; width: 350px;
		
		ul.main_list_search_result_header{width: 100%; padding: 5px 0px;
			article{font-size: 12px; font-weight: 500; text-transform: uppercase; color: fade(@corp2, 30%); display: block; padding: 10px 20px;}
			li{width: 100%; padding: 5px 20px; cursor: pointer; position: relative;
				&:hover{background: fade(@corp2, 5%);
					.icon_20{opacity: .5 !important;}
				}
			}

			.icon_20{position: absolute !important; left: 20px !important; right: auto !important; top: 4px !important; bottom: auto !important; margin: auto !important; opacity: .2 !important; margin-right: 5px !important;}

			.more{display: block; padding: 7px 0px 10px 50px; font-size: 12px;}

			.text{display: block; padding-left: 30px; .truncate();}
		}
	}
}























