// ––––––
// Popup

.main_popup{margin: 0 auto; background: lighten(@corp2, 73%); position: relative; z-index: 1; .brd(6px); cursor: default; box-shadow: 0px 2px 30px fade(@corp2, 10%);

	// Size
	&.default{width: 350px;}
	&.default_400{width: 400px;}
	&.default_450{width: 450px;}
	&.default_500{width: 500px;}
	&.default_550{width: 550px;}
	&.default_600{width: 600px;}
	&.default_650{width: 650px;}
	&.default_700{width: 700px;}
	&.default_800{width: 800px;}
	&.default_900{width: 900px;}

	// Height
	&.height_580{height: 580px;}



	// –––––––––––––––––
	// Header

	.main_header_popup{width: 100%; z-index: 1; .gradient(bottom, lighten(@corp2, 72%), lighten(@corp2, 75%)); .brd_custom(6px, 6px, 0px, 0px); position: relative; .no_select(); padding: 20px; text-align: center; box-shadow: 0px 1px 0px fade(@corp2, 20%); color: @corp2;

		// Title
		.title_header{display: block; font-weight: 500; font-size: 18px; text-shadow:0px 1px 0px #fff;}

		// Subtitle
		.subtitle_header{display: block; font-weight: normal; padding: 20px 0px 0px 0px; color: fade(@corp2, 60%); margin-top: -15px; line-height: 1.5;
			b{font-weight: 500; color: fade(@corp2, 70%);}

		}

		// Icon close
		.ico_close{position: absolute; .cubo(21px); top: 10px; left: 10px; z-index: 1; opacity: .5; cursor: pointer;
			&:before, &:after{.absolute(); width: 15px; height: 1px; background: @corp2; .rotate(45deg); .mdl(-8px, 0px);}
			&:before{.rotate(-45deg);}
			&:hover{opacity: .9;}
		}

		// Icon Back
		.back{display: inline-block; font-size: 14px; color: fade(@corp2, 50%); font-weight: normal; position: absolute; left: 0px; top: 2px; padding-left: 4px; cursor: pointer;
			.arrow{position: absolute; left: -10px; display: inline-block; .cubo(20px); /*background: #333;*/ .mdl_top(10px); z-index: 1; opacity: .7; .rotate(90deg);
				&:before, &:after{.absolute(); width: 6px; height: 1px; background: @corp2; .mdl(-1px, -1px);}
				&:before{.rotate(45deg); left: 6px;}
				&:after{.rotate(-45deg); right: 6px;}
			}

			&:hover{color: @corp2;
				.arrow{opacity: 1;}
			}
		}
	}








	// –––––––––––––––––––––––
	// Content PopUp

	.main_content_popup{width: 100%; position: relative; text-align: left; padding: 23px 30px 30px 30px; background: #fff; color: @corp2; z-index: 0;
		&.no_paddings{padding: 0px;}
		
		.description_content{font-size: 14px; line-height: 1.4; color: fade(@corp2, 70%); display: block;}

		.check{margin-top: 4px; margin-bottom: 4px; margin-right: 4px;}

		// Empty
		.empty{display: block; color: fade(@corp2, 50%); text-align: center; padding: 50px 0px 20px 0px;}
	}






	// –––––––––––––––––––-
	// Footer

	.main_footer_popup{width: 100%; position: relative; z-index: 1; display: table; padding: 20px; box-shadow: 0px -1px 0px fade(@corp2, 20%);

		// Footer content
		.wrap_footer_content{display: table; width: 100%; position: relative;

			// Left
			.left_content{position: relative; display: table-cell; vertical-align: middle;
				.text{color: lighten(@corp2, 30%);}
				.reset{font-weight: 500; position: relative; color: fade(@corp2, 70%); margin-left: 5px;
					&:before{.absolute(); height: 1px; left: 0px; bottom: 0px; right: 0px; background: fade(@corp2, 10%);}
					&:hover{color: @corp2;}
				}
			}


			// Right
			.right_content{display: table-cell; position: relative; vertical-align: middle; text-align: right; .no_select();
				.primary{min-width: 100px; float: right;}
				
				a{vertical-align: middle; float: right;}

				.sep_20{float: right;}
				
				.secondary{float: right; padding-top: 8px; color: fade(@corp2, 70%); font-weight: 500;
					&:hover{color: @corp2;}
				}
			}
		}
	}
}




















