// ·····················
// Cehck & Radio

.radio{
	display: inline-block;
	margin: 8px 0px;
	margin-right: 25px;

	label{
		display: inline-block;
		position: relative;
		padding-left: 30px;
		font-size: 14px;
		height: 20px;
		font-weight: 400;
		padding-bottom: 22px;
		vertical-align: top;
		line-height: 20px;
		cursor: pointer;

		&:before {
			content: "";
			width: 22px;
			height: 22px;
			position: absolute;
			left: 0;
			.brd(50%);
			box-shadow: inset 0px 0px 0px 1px @corp;
			background: #fff;
		}

		&:active{
			&:before {
				box-shadow: inset 0px 0px 0px 1px @corp;
				background: rgba(255, 255, 255, 0.5);
			}
		}
	}

	&.dis{
		label{
			pointer-events: none !important;
			color: rgba(0, 0, 0, 0.3);
			
			&:before{
				box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
				background: rgba(0, 0, 0, 0.02);
				color: rgba(0, 0, 0, 0.2);
			}
		}
	}

	&.err{
		label{
			&:before{
				box-shadow: inset 0px 0px 0px 1px @red;
			}
		}
	}
}

input[type=radio]:checked + label:before {
	.brd(50%);
	box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 6px @corp;
	border: none;
}