// Div
.main_select{position: relative; vertical-align: top; display: inline-block; width: 100%; z-index: 2;
	&.invert{
		select{background: #fff;}
	}

	&.small{
		.wrap_arrow{top: 10px; right: 10px;}
		select{padding: 6px 30px 7px 13px; min-height: auto;}
	}

	&:hover{
		.wrap_arrow{opacity: .8;}
	}

	&.dis{
		.wrap_arrow{opacity: 0.2;}
		select{box-shadow: 0px 0px 0px 1px fade(@corp2, 20%); background: fade(@corp2, 5%); color: fade(@corp2, 40%); pointer-events: none; .no_select(); cursor: default;}
	}

	// Span
	.wrap_arrow{position: absolute; .cubo(11px); pointer-events: none; right: 11px; display: inline-block; opacity: .5; top: 11px; z-index: 4;
		&:before, &:after{.absolute(); width: 7px; height: 2px; .brd(5px); background: @corp2; .mdl_top(-1px);}
		&:before{.rotate(45deg); left: 0px;}
		&:after{.rotate(-45deg); right: 0px;}
	}

	select{.gradient(top, lighten(@corp2, 76%), lighten(@corp2, 73%)); font-weight: 500; text-shadow: 0px 1px 0px #fff; margin: 0px; padding: 7px 30px 10px 13px; .brd(2px); box-shadow: inset 0px 0px 0px 1px fade(@corp2, 30%), inset 0px 2px 0px #fff, 0px 1px 0px fade(#fff, 50%) !important; color: fade(@corp2, 80%) !important; height: 35px; cursor: pointer;
		&:focus + .wrap_arrow{opacity: 1;}
		&:hover{color: @corp2 !important; box-shadow: inset 0px 0px 0px 1px fade(@corp2, 40%), inset 0px 2px 0px #fff, 0px 1px 0px fade(#fff, 50%) !important;}
		&:focus{color: darken(@corp2, 10%) !important; .gradient(top, lighten(@corp2, 73%), lighten(@corp2, 70%)) !important; box-shadow: inset 0px 0px 0px 1px fade(@corp2, 40%), inset 0px 1px 1px fade(@corp2, 20%), 0px 1px 0px fade(#fff, 50%) !important; z-index: 1;}
	}
}

