input[type=date]{-webkit-appearance: none; padding-right: 10px;
	&.data{font-family: 'Montserrat', sans-serif !important; padding-top: 6px; padding-bottom: 7px; font-size: 14px; width: 100%;}
	&::-webkit-inner-spin-button, &::-webkit-clear-button{display:none !important;}
	&::-webkit-calendar-picker-indicator{font-size: 14px; margin-top: 2px; color: transparent; position: absolute; right: 0px; .cubo(20px); cursor: pointer; top: 0px;
		&:hover{background: transparent;}
	}
}

// Search
.main_input_search{position: relative; display: inline-block; vertical-align: top;
	.icon_20{position: absolute; .mdl_top(-11px); left: 9px; opacity: .3; pointer-events: none;}
	input{width: 130px; padding-left: 33px; color: @corp2; .transition();
		&:focus + .icon_20{opacity: .7;}
		&:focus{width: 180px;}
	}
}


.input_link{display: table; width: auto; color: @blue;
	input{box-shadow: none !important; line-height: 1; cursor: pointer; padding: 0px; margin: 0px; background: transparent !important; color: @blue; text-decoration: underline dotted @blue; font-weight: 500; min-width: auto;
		&.right{text-align: right; float: right;}

		&:focus + span{color: fade(@corp2, 50%);}
		&:focus{cursor: text; text-decoration: none; color: @corp2; font-weight: normal;}
	}
	
	span{display: inline-block; vertical-align: top; padding-top: 3px;}
}
