// Toggle buttons
.main_toggle_buttons{display: table; width: 100%; .no_select();
	&.w2{label{width: 50%;}}
	&.w3{label{width: 33.50%;}}

	label{float: left; margin-right: -1px; text-align: center; color: lighten(@corp2, 15%); position: relative; text-shadow: 0px 1px 0px #fff; .gradient(top, lighten(@corp2, 76%), lighten(@corp2, 73%)); box-shadow: inset 0px 0px 0px 1px fade(@corp2, 30%), inset 0px 2px 0px #fff, 0px 1px 0px fade(#fff, 50%); font-weight: 400; height: 35px !important; padding-top: 8px;
		&:nth-child(2){.brd_custom(2px, 0px, 0px, 2px);}
		&:last-child{.brd_custom(0px, 2px, 2px, 0px);}
		
		&:hover{color: @corp2 !important; box-shadow: inset 0px 0px 0px 1px fade(@corp2, 40%), inset 0px 2px 0px #fff, 0px 1px 0px fade(#fff, 50%); z-index: 1;}

		&:active{color: darken(@corp2, 10%) !important; .gradient(top, lighten(@corp2, 73%), lighten(@corp2, 70%)); box-shadow: inset 0px 0px 0px 1px fade(@corp2, 40%), inset 0px 1px 1px fade(@corp2, 20%), 0px 1px 0px fade(#fff, 50%); z-index: 1;}
		
		&:before, &:after{display: none;}
	}

	input{display: none;
		&:checked + label{background: fade(@corp2, 70%) !important; z-index: 2; text-shadow: 0px 1px 0px fade(@corp2, 50%); box-shadow: inset 0px 1px 1px fade(@corp2, 50%), inset 0px 0px 0px 1px fade(@corp2, 20%); color: #fff !important; font-weight: 500;}
	}
}