*{
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


// ·················
// Fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');


// ··················
// Brand colors

@corp: #EC0000;
@corp2: #2D3A47;

// ··················
// Colors generics · Red · Green · Blue · Yellow

@red:#ff6d5e;
@green:#99cc33;
@green_2:#6EDE92;
@blue:#508EFF;
@blue_2:#2EC8FF;
@yellow:#ffca45;
@orange:#FB9B30;
@red_error:#EC0000;
@lila:#8C6ACE;


// Font
@font_family: 'Montserrat', sans-serif;


// ––––––––––––––––––––
// General page

html, body{font-family: 'Montserrat', sans-serif; margin:0 !important; padding: 0 !important; -webkit-tap-highlight-color: rgba(0,0,0,0) !important; -webkit-text-size-adjust:none !important; -moz-font-smoothing: antialiased !important; -webkit-font-smoothing: antialiased !important; font-size: 14px; color: @corp2; z-index: 1; width: 100%; background: url("@{img}/bg-global-ph.png");}
html{font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;  height: 100%;}




// ––––––––––––––––––––
// Link

a{color: @blue; text-decoration: none; font-weight: bolder; font-weight: 500; cursor: pointer !important; position: relative;

	&.secondary{color: lighten(@corp2, 30%); font-weight: 400;
		&.arrow{
			&:after, &:before{background: lighten(@corp2, 30%);}
			&:before{top: 8px;}
			&:after{top: 12px;}
		}
	}

	&.small{font-size: 12px; font-weight: 400;}

	&:hover{color: darken(@blue, 10%);
		&.arrow{
			&:after, &:before{background: darken(@blue, 10%);}
		}

		&.secondary{color: lighten(@corp2, 10%);
			&.arrow{
				&:after, &:before{background: lighten(@corp2, 10%);}
			}
		}
	}

	&.arrow{padding-right: 13px;
		&:before, &:after{.absolute(); width: 7px; height: 1px; background: @blue; right: 0px; z-index: 1;}
		&:before{.rotate(45deg); top: 7px;}
		&:after{.rotate(-45deg); top: 11px;}
	}
}

b{font-weight: 500;}


// Separator
.sep_10, .sep_15, .sep_20, .sep_25, .sep_30{display: inline-block !important; vertical-align: middle !important; position: relative !important;
	&.ln{
		&:before{.absolute() !important; left: 3px !important; right: 3px !important; height: 1px !important; background: lighten(@corp2, 60%) !important; top: 38px !important;}
	}
}

.sep_10{.cubo(10px); display: inline-block;}
.sep_15{.cubo(15px); display: inline-block;}
.sep_20{.cubo(20px); display: inline-block;}
.sep_25{.cubo(25px); display: inline-block;}
.sep_30{.cubo(30px); display: inline-block;}



// ––––––––––––––––
// Reverse

.reverse(){
	-webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
     transform:rotateY(180deg);
     unicode-bidi:bidi-override;
     direction:rtl;
}


// ––––––––––––––––––––
// General rules

h1, h2, h3, p, p1, p2, p3, b, i, ul, li, div, fieldset, form{
	padding: 0px; margin: 0px;
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    list-style: none !important;
}


h2{font-size: 28px; font-weight: normal; line-height: 1.4;}


// ––––––––––––––––––––
// Default options

// Colors
.green{color: @green !important;}
.green_2{color: @green_2 !important;}
.orange{color: @orange !important;}
.red{color: @red_error !important;}
.yellow{color: @yellow !important;}
.blue_2{color: @blue_2 !important;}

// Text transform
.normal{font-weight: 400 !important;}
.bolder{font-weight: 500 !important;}
.bold{font-weight: 600 !important;}
.uppercase{text-transform: uppercase;}

// Font size
.f10{font-size: 10px !important;}
.f12{font-size: 12px !important;}
.f14{font-size: 14px !important;}
.f16{font-size: 16px !important;}
.f18{font-size: 18px !important;}
.f20{font-size: 20px !important;}
.f22{font-size: 22px !important;}
.f24{font-size: 24px !important;}
.f26{font-size: 26px !important;}
.f28{font-size: 28px !important;}
.f30{font-size: 30px !important;}
.f32{font-size: 32px !important;}

// Display
.block{display: block;}
.inline-block{display: inline-block;}
.center{text-align: center;}

// Line height
.lh1_2{line-height: 1.2 !important;}
.lh1_3{line-height: 1.3 !important;}
.lh1_4{line-height: 1.4 !important;}
.lh1_5{line-height: 1.5 !important;}



// ––––––––––––––––––––
// Force long text

.force_text(){overflow-wrap: break-word; word-wrap: break-word; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -ms-hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto; hyphens: auto;}


// ···················
// Size

.w5{width: 5%;}
.w10{width: 10%;}
.w15{width: 15%;}
.w20{width: 20%;}
.w25{width: 25%;}
.w30{width: 30%;}
.w35{width: 35%;}
.w40{width: 40%;}
.w45{width: 45%;}
.w50{width: 50%;}
.w55{width: 55%;}
.w60{width: 60%;}
.w65{width: 65%;}
.w70{width: 70%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w85{width: 85%;}
.w90{width: 90%;}
.w95{width: 95%;}
.w100{width: 100%;}

.w10px{width: 10px;}
.w20px{width: 20px;}
.w30px{width: 30px;}
.w40px{width: 40px;}
.w50px{width: 50px;}
.w60px{width: 60px;}
.w70px{width: 70px;}
.w80px{width: 80px;}
.w90px{width: 90px;}



// ––––––––––––––––––––
// Default hidden

.hidden{display: none !important;}


// ––––––––––––––––––––
// Opacity

.op8{opacity: .8 !important;}
.op7{opacity: .7 !important;}
.op6{opacity: .6 !important;}
.op5{opacity: .5 !important;}
.op4{opacity: .4 !important;}
.op3{opacity: .3 !important;}
.op2{opacity: .2 !important;}


// ––––––––––––––––––––
// Margins

.mb0{margin-bottom: 0px !important;}
.mb5{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.mb20{margin-bottom: 20px !important;}
.mb25{margin-bottom: 25px !important;}
.mb30{margin-bottom: 30px !important;}
.mb40{margin-bottom: 40px !important;}

.mt0{margin-top: 0px !important;}
.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt25{margin-top: 25px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}

.ml0{margin-left: 0px !important;}
.ml5{margin-left: 5px !important;}
.ml10{margin-left: 10px !important;}
.ml15{margin-left: 15px !important;}
.ml20{margin-left: 20px !important;}
.ml25{margin-left: 25px !important;}
.ml30{margin-left: 30px !important;}
.ml40{margin-left: 40px !important;}

.mr0{margin-right: 0px !important;}
.mr5{margin-right: 5px !important;}
.mr10{margin-right: 10px !important;}
.mr15{margin-right: 15px !important;}
.mr20{margin-right: 20px !important;}
.mr25{margin-right: 25px !important;}
.mr30{margin-right: 30px !important;}
.mr40{margin-right: 40px !important;}

// Paddings

.pb0{padding-bottom: 0px !important;}
.pb5{padding-bottom: 5px !important;}
.pb10{padding-bottom: 10px !important;}
.pb15{padding-bottom: 15px !important;}
.pb20{padding-bottom: 20px !important;}
.pb25{padding-bottom: 25px !important;}
.pb30{padding-bottom: 30px !important;}
.pb40{padding-bottom: 40px !important;}

.pt0{padding-top: 0px !important;}
.pt5{padding-top: 5px !important;}
.pt15{padding-top: 15px !important;}
.pt10{padding-top: 10px !important;}
.pt20{padding-top: 20px !important;}
.pt25{padding-top: 25px !important;}
.pt30{padding-top: 30px !important;}
.pt40{padding-top: 40px !important;}

.pl0{padding-left: 0px !important;}
.pl5{padding-left: 5px !important;}
.pl10{padding-left: 10px !important;}
.pl15{padding-left: 15px !important;}
.pl20{padding-left: 20px !important;}
.pl25{padding-left: 25px !important;}
.pl30{padding-left: 30px !important;}
.pl40{padding-left: 40px !important;}

.pr0{padding-right: 0px !important;}
.pr5{padding-right: 5px !important;}
.pr10{padding-right: 10px !important;}
.pr15{padding-right: 15px !important;}
.pr20{padding-right: 20px !important;}
.pr25{padding-right: 25px !important;}
.pr30{padding-right: 30px !important;}
.pr40{padding-right: 40px !important;}



// ·······················
// Scroll

// ::-webkit-scrollbar {
//     width: 3px;
//     position: absolute;

//     &:horizontal{
//     	height: 3px;
//     }
// }

// ::-webkit-scrollbar-thumb {
// 	background: fade(@corp, 50%);
// }

// ::-webkit-scrollbar-track {
//     // background-color: rgba(0, 0, 0, 0.1);

//     &:horizontal{
//     	// background-color: rgba(0, 0, 0, 0.1);
//     }
// }


// ––––––––––––––––––––
// Transition

.transition(@move:all, @time:0.25s){
	-webkit-transition: @move ease @time;
	-moz-transition: @move ease @time;
	-ms-transition: @move ease @time;
	-o-transition: @move ease @time;
	transition: @move ease @time;
}


// ––––––––––––––––––––
// Dark image
.dark_img(@bright:50%){
	-webkit-filter: brightness(@bright);
	filter: brightness(@bright);
}


// ––––––––––––––––––––
// Fade Animation

.fade(@start:0, @finish:.5){
	@-webkit-keyframes fadeIn { from { opacity:@start; } to { opacity:@finish; } }
	@-moz-keyframes fadeIn { from { opacity:@start; } to { opacity:@finish; } }
	@keyframes fadeIn { from { opacity:@start; } to { opacity:@finish; } }

	opacity:0;
	-webkit-animation:fadeIn ease-in-out 1s;
	-moz-animation:fadeIn ease-in-out 1s;
	animation:fadeIn ease-in-out 1s;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;

	-webkit-animation-delay: none;
	-moz-animation-delay: none;
	animation-delay: none;
}


// ––––––––––––––––––––
// Before - Absolute & Relative position

.absolute(@content:"", @position:absolute){
	content: @content;
	position: @position;
}

.relative(@content:"", @position:relative, @display:inline-block){
	content: @content;
	position: @position;
	display: @display;
}

// ––––––––––––––––––––
// Gradient

.gradient (@origin: top, @start: #ffffff, @stop: #000000) {
	background-color: @start;
	background-image: -webkit-linear-gradient(@origin, @start, @stop);
	background-image: -moz-linear-gradient(@origin, @start, @stop);
	background-image: -o-linear-gradient(@origin, @start, @stop);
	background-image: -ms-linear-gradient(@origin, @start, @stop);
	background-image: linear-gradient(@origin, @start, @stop);
}


// ––––––––––––––––––––
// Cubo

.cubo(@igual: 30px){width: @igual; height: @igual;}


// ––––––––––––––––––––
// Truncate

.truncate(@1:nowrap, @2:hidden, @3:ellipsis){white-space: @1; overflow: @2; -ms-text-overflow: @3; -o-text-overflow: @3; text-overflow: @3;}


// ––––––––––––––––––––
// Tabs

.wrap-tabs{
	section{display: none;
		&.content-current{display: block;}
	}
}


// ––––––––––––––––––––
// Radio & Check

input[type=radio], [type=checkbox] {display: none;}


// ––––––––––––––––––––
// Input

input, textarea, label, select, button, .btn, .primary, .secondary{
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;

	&:invalid {box-shadow: none;}
	&:-moz-submit-invalid {box-shadow: none;}
	&:-moz-ui-invalid {box-shadow:none;}
}


// ––––––––––––––––––––
// Flip image

.flip(){
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


// ···················
// Align

.mdl(@left:-50px, @top:-50px){left: 50%; margin-left: @left; top: 50%; margin-top: @top;}

.mdl_none{left: auto; margin-left: auto; margin-top: auto; top: auto;}

.mdl_top(@top:50px){top: 50%; margin-top: @top;}

.mdl_left(@left:50px){left: 50%; margin-left: @left;}


// ––––––––––––––––––––
// Rotate image

.rotate(@deg: 90) {
	-webkit-transform: rotate(@deg * 1deg);
	-moz-transform: rotate(@deg * 1deg);
	transform: rotate(@deg * 1deg);
	-o-transform: rotate(@deg * 1deg);
	@IEdeg: round(@deg / 90, 0);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@IEdeg);
}


// ––––––––––––––––––––
// Position absolute

.full(@t:0px, @r:0px, @b:0px, @l:0px,){top: @t; right: @r; bottom: @b; left: @l;}


// ––––––––––––––––––––
// Borders

.brd(@radius: 5px){-webkit-border-radius: @radius; -moz-border-radius: @radius; border-radius: @radius;}

.brd_custom(@topleft: 5px, @topright: 5px, @bottomright: 5px, @bottomleft: 5px){
	-webkit-border-radius: @topleft @topright @bottomright @bottomleft;
	-moz-border-radius: @topleft @topright @bottomright @bottomleft;
	border-radius: @topleft @topright @bottomright @bottomleft;
}


// ––––––––––––––––––––
// Prevent hightlight

.no_select(){-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}


// ––––––––––––––––––––
// Loading

#loading_full{display: none; width: 100%; height: 100vh; z-index: 999999;  position: fixed; .full();  background: fade(@corp2, 50%);
    &:before{.cubo(50px); .absolute(); .brd(50%); background:#fff; z-index: 1; .mdl(25px); box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 1px 3px rgba(0, 0, 0, 0.05);}
}









@media screen and (max-width:800px){
	h2{font-size: 18px; font-weight: normal; line-height: 1.4;}
}


@media screen and (max-width:424px){
	.w5{width: 100%;}
	.w10{width: 100%;}
	.w15{width: 100%;}
	.w20{width: 100%;}
	.w25{width: 100%;}
	.w30{width: 100%;}
	.w35{width: 100%;}
	.w40{width: 100%;}
	.w45{width: 100%;}
	.w50{width: 100%;}
	.w55{width: 100%;}
	.w60{width: 100%;}
	.w65{width: 100%;}
	.w70{width: 100%;}
	.w75{width: 100%;}
	.w80{width: 100%;}
	.w85{width: 100%;}
	.w90{width: 100%;}
	.w95{width: 100%;}
	.w100{width: 100%;}
}










