.main_footer{width: 100%; display: block; position: relative; padding: 20px 30px 40px 30px;
	.wrap_footer{width: 100%; max-width: 1100px; margin: 0 auto; display: table; font-size: 12px; color: fade(@corp2, 50%);

		// Left
		.left_content{display: table-cell; vertical-align: middle; min-width: 50%;}
		
		// Right
		.right_content{display: table-cell; vertical-align: middle; text-align: right;}

		// Default
		span{display: inline-block; vertical-align: middle;}
		u{display: inline-block; vertical-align: middle; font-weight: bolder; text-decoration: none; margin: 0px 6px;}
		b{font-weight: 500;}
		a{color: inherit; font-weight: normal;
			&:hover{color: fade(@corp2, 70%);}
		}

		// Logo mini PH
		.logo_mini{display: inline-block; margin-right: 6px;
			img{height: 27px;}
		}

		// Logo Santander
		.logo_santander{display: inline-block;
			img{height: 19px;}
		}
	}
}