.main_header{width: 100%; height: 65px; background: @corp2; color: #fff; position: relative; padding: 0px 30px;

	// Secondary menu
	&.secondary{background: fade(@corp2, 70%);}

	// Third menu
	&.third{background: fade(@corp2, 50%);
		.wrap_header{
			ul.main_menu_header{
				li{
					a{text-transform: none;}
				}
			}
		}
	}

	// Height menu
	&.menu_height{height: 166px; margin-bottom: -100px;}

	// Header content
	.wrap_header{width: 100%; max-width: 1100px; margin: 0 auto; height: 65px; display: table;

		// Left
		.left_content{display: table-cell; vertical-align: middle;

			// Logo
			.logo_ph{height: 37px;}
		}

		// Right
		.right_content{display: table-cell; vertical-align: middle; text-align: right;

			.main_content{display: table; width: 100%;

				// User profile
				.wrap_profile{position: relative; cursor: pointer; float: right; .no_select(); z-index: 5;

					&:hover{
						.arrow{opacity: .5;}
						.name_user{opacity: .8;}
						.pic_user_text{color: #fff;}
						.pic_user{opacity: 1;}
					}

					&:focus, &.popover_active{
						.arrow{opacity: .7;}
						.name_user{opacity: 1;}
						.pic_user_text{color: #fff;}
						.pic_user{opacity: 1;}
					}

					span{vertical-align: middle;}

					// Arrow
					.arrow{.cubo(9px); display: inline-block; position: relative; .rotate(90deg); margin-left: 4px; opacity: .3;
						&:before, &:after{.absolute(); width: 7px; height: 1px; .brd(2px); background: #fff; .mdl_left(-4px);}
						&:before{top: 2px; .rotate(45deg);}
						&:after{bottom: 2px; .rotate(-45deg);}
					}

					// Picture user - more in - less/components/pic-user.less
					.pic_user{margin-right: 5px; opacity: .9;}

					// Text user
					.name_user{display: inline-block; opacity: .6;}

					// Popover - more in - less/components/popover.less
					.wrap_popover{right: 0px; top: 34px; .brd_custom(3px, 0px, 3px, 3px); .transition();
						&.view{right: -10px;}
					}
				}



				// Notify
				.wrap_notify{position: relative; float: right; .cubo(30px); margin-right: 25px; z-index: 5;

					&:hover{
						.icon_notify{
							.icon_20{opacity: .8;}
						}
					}

					&:focus, &.popover_active{
						.icon_notify{
							.icon_20{opacity: 1;}
						}
					}

					// Icon
					.icon_notify{cursor: pointer;
						.icon_20{opacity: .5; position: absolute; .mdl_top(-10px); left: 0px;}
					}

					// Num notify
					.num{display: inline-block; position: absolute; left: 13px; top: 0px; z-index: 1; font-weight: bold; font-size: 11px; background: #fff; color: @corp2; line-height: 1; .brd(10px); padding: 2px 5px 2px 5px; box-shadow: 0px 0px 0px 2px @corp2;}


					// Popover
					.wrap_popover_custom{position: absolute; top: 34px; right: 0px; .transition();
						&.view{right: -10px;}
					}
				}



				// Separator
				.separator{display: inline-block; float: right; height: 29px; width: 1px; background: fade(#fff, 10%); margin: 0px 25px;}




				// Search
				.wrap_search{position: relative; float: right; height: 30px; width: 20px; z-index: 5;

					&:hover{
						.icon_20{opacity: .7;}
					}

					&:focus, &.popover_active{width: 330px; .transition();
						.icon_20{opacity: 1; left: 0px;}
						.search_header_input{width: 100%; padding-left: 27px; .transition();}
					}

					// Icon
					.icon_20{position: absolute; .mdl_top(-10px); right: 0px; opacity: .5; cursor: pointer;}

					// Input Search
					.search_header_input{padding: 0px 0px 1px 0px; box-shadow: none; width: 0px; min-height: 29px; background: transparent; color: #fff !important;
						&::-webkit-input-placeholder{color: fade(#fff, 40%); text-transform: none; font-size: inherit;}
						&::-moz-placeholder{color: fade(#fff, 40%); font-size: inherit;}

						&:focus{
							&::-webkit-input-placeholder{color: fade(#fff, 20%); font-size: inherit;}
							&::-moz-placeholder{color: fade(#fff, 20%); font-size: inherit;}
						}
					}

					// Popover search
					.wrap_popover_custom{position: absolute; top: 34px; right: 0px; .transition();
						&.view{right: -10px;}
					}
				}
			}
		}



		// Menu
		ul.main_menu_header{
			li{display: inline-block; margin-right: 25px; position: relative;

				// Selectet status
				&.select{
					a{color: #fff;}
				}

				&:last-child{margin-right: 0px;}

				// Menu option
				a{display: inline-block; padding-bottom: 3px; text-transform: uppercase; color: fade(#fff, 50%); font-size: 14px; font-weight: 600; .no_select();
					&:hover{color: fade(#fff, 80%);}
				}
			}
		}
	}
}


















