.main_lateral_popup{position: fixed; top: 0px; right: 0px; bottom: 0px; width: 70%; min-width: 750px; max-width: 1000px; background: url("@{img}/bg-paper.png") #F8F8F9; z-index: 99; box-shadow: 0px 0px 50px fade(@corp2, 25%); color: @corp2;

	&.invisible{right: -1200px; display: none;}

	.wrap_lateral_popup{width: 100%;


		// Header
		.main_header_lateral{width: 100%; height: 95px; display: table; padding: 0px 30px; position: relative; z-index: 1;
			&:before{.absolute(); bottom: -1px; height: 1px; left: 30px; right: 30px; background: #E0E2E4;}

			// Left
			.left_content{display: table-cell; vertical-align: middle; white-space: nowrap; text-shadow: 0px 1px 0px #fff;

				// Icon Inbound - Outbound
				.status{vertical-align: middle; display: inline-flex; padding-right: 30px; .no_select(); cursor: default;
					.text{vertical-align: top; display: inline-block; font-weight: 500; padding-top: 8px; padding-left: 10px;}
				}

				// Icon status process
				.status_process{position: relative; display: inline-block; vertical-align: middle; .no_select(); cursor: default;
					.icon_status{font-weight: 500; padding-left: 22px; display: inline-block;
						&:before{.absolute(); left: 0px; .mdl_top(-7px); .cubo(15px); .brd(50%); box-shadow: inset 0px 0px 0px 1px fade(@corp2, 20%), 0px 1px 0px fade(#fff, 50%);}

						&.on{&:before{background: @green;}}
						&.off{&:before{background: fade(@corp2, 10%);}}
						&.ambar{&:before{background: @yellow;}}
					}
				}
			}

			// Right
			.right_content{display: table-cell; vertical-align: middle; text-align: right; white-space: nowrap;

				// Icon close
				.sep_20, a, .main_icon_close{float: right;}
			}
		}



		// Content
		.main_content_lateral{position: absolute; top: 95px; left: 0px; right: 0px; bottom: 0px; padding: 0px 30px 30px 30px; overflow: auto;

			// Global content
			.main_box_content_lateral{padding-bottom: 20px; width: 100%; display: table;

				&.custom{padding-top: 10px; padding-bottom: 30px;
					.wrap_content{background: transparent; .brd(0px); box-shadow: inset 0px 1px 0px fade(@corp2, 20%), inset 0px 2px 0px #fff, 0px 1px 0px fade(@corp2, 20%), 0px 2px 0px #fff; position: relative;
						.title_box{position: absolute; left: 0px; right: 0px; top: 0px; text-align: center;
							span{display: inline-block; background: url("@{img}/bg-paper.png") #F8F8F9; text-shadow: 0px 1px 0px #fff; margin-top: -7px; padding: 0px 10px; color: fade(@corp2, 50%);}
						}

						.info_content{text-shadow: 0px 1px 0px #fff;}
					}
				}

				// Separator collumns
				&.w2{.wrap_content{width: 50%; display: table-cell;}}
				&.w3{.wrap_content{width: 33.33%; display: table-cell;}}
				&.w4{.wrap_content{width: 25%; display: table-cell;}}
				&.w5{.wrap_content{width: 20%; display: table-cell;}}

				// Content box
				.wrap_content{background: #fff; box-shadow: 0px 0px 0px 1px fade(@corp2, 15%), 0px 2px 0px #fff; padding: 25px 30px; .brd(3px);

					// Title box
					.title_general_box{font-weight: 500px; font-size: 18px; display: block; padding-bottom: 20px;
						.right{float: right;}
					}

					// Info content grid
					.info_content{line-height: 1.5; display: table; width: 100%;
						.child{display: table-cell;
							&.w10{width: 10%;}
							&.w15{width: 15%;}
							&.w20{width: 20%;}
							&.w25{width: 25%;}
							&.w30{width: 30%;}
							&.w35{width: 35%;}
							&.w40{width: 40%;}
							&.w45{width: 45%;}
							&.w50{width: 50%;}
							&.w55{width: 55%;}
							&.w60{width: 60%;}
							&.w65{width: 65%;}
							&.w70{width: 70%;}
							&.w75{width: 75%;}
							&.w80{width: 80%;}
							&.w85{width: 85%;}
							&.w90{width: 90%;}
							&.w95{width: 95%;}
						}
					}

					.title_section{text-align: center; line-height: 1.5; width: 100%;}
				}
			}
		}
	}
}

















