.main_global_structure_no_responsive{display: none;}

@media screen and (max-width:800px){

	// Resolution pc
	.main_global_structure{display: none;}
	
	// Resolution mobile
	.main_global_structure_no_responsive{display: table; width: 100%; height: 100%;
		.wrap_no_responsive{display: table-cell; vertical-align: middle; width: 100%;
			.main_content{max-width: 250px; margin: 0 auto;
				h1{display: block; padding-bottom: 20px; line-height: 1.3; font-size: 26px; font-weight: 500;}
				p{font-size: 16px; display: block; line-height: 1.5; padding-bottom: 30px;}
				img{height: 30px;}
			}
		}
	}
}
