<div id="payments_detail_lateral" class="main_lateral_popup invisible">
	<div class="wrap_lateral_popup">

		<!-- Header -->
		<div class="main_header_lateral">

			<!-- Left content -->
			<div class="left_content">

				<!-- Icon Status Inbound - Outbound -->
				<div class="status">
					<span class="icon_35 inbound"></span>
					<span class="text">Outbound</span>
				</div>

				<!-- Status process (On · Off · Ambar) -->
				<div class="status_process">
					<span class="icon_status on">Accepted</span>
				</div>
			</div>


			<!-- Right content -->
			<div class="right_content">

				<div class="main_icon_close close_lateral">
					<span class="icon_close"></span>
					<span class="text">ESC</span>
				</div>

				<span class="sep_20"></span>

				<a class="btn primary">Download</a>

				<span class="sep_20"></span>

				<a class="btn secondary">Go to Audit Log Detail</a>
			</div>
		</div>



		<!-- Content -->
		<div class="main_content_lateral">

			<!-- Box 1 -->
			<div class="main_box_content_lateral">
				<div class="wrap_content">

					<!-- Title box content -->
					<article class="title_general_box">Info base</article>

					<!-- 1 -->
					<div class="info_content pb10">
						<div class="child w60">
							<span class="block bolder">Payment FPID</span>
							<span class="block op6">HUBX00000000002340948209482304982340982349</span>
						</div>
						<div class="child w30">
							<span class="block bolder">Bank</span>
							<span class="block op6">230982304982309</span>
						</div>
					</div>

					<!-- 2 -->
					<div class="info_content pb10">
						<div class="child w30">
							<span class="block bolder">Date payment</span>
							<span class="block op6">01-01-2016</span>
						</div>
						<div class="child w30">
							<span class="block bolder">Settlement date</span>
							<span class="block op6">01-11-2016</span>
						</div>
						<div class="child w30">
							<span class="block bolder">Settlelement cycle ID</span>
							<span class="block op6">001</span>
						</div>
					</div>

					<!-- 3 -->
					<div class="info_content pb10">
						<div class="child w30">
							<span class="block bolder">Amount</span>
							<span class="block op6">£671,00</span>
						</div>
						<div class="child w30">
							<span class="block bolder">Currency</span>
							<span class="block op6">GBP</span>
						</div>
						<div class="child w30">
							<span class="block bolder">Payment type</span>
							<span class="block op6">Standing order</span>
						</div>
					</div>

					<!-- 4 -->
					<div class="info_content">
						<div class="child w30">
							<span class="block bolder">Error code</span>
							<span class="block op6">0</span>
						</div>
						<div class="child w30">
							<span class="block bolder">Acction code</span>
							<span class="block op6">0</span>
						</div>
						<div class="child w30">
							<span class="block bolder">Acction code description</span>
							<span class="block op6">Accepted without qualification</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Box 2 -->
			<div class="main_box_content_lateral w2">

				<!-- Remitter -->
				<div class="wrap_content">

					<!-- Title -->
					<div class="title_section pb20">
						<article class="bolder f16">John Smith</article>
						<span class="bolder op5 f12 uppercase">Remitter</span>
					</div>

					<!-- 1 -->
					<div class="info_content pb10">
						<div class="child w50">
							<span class="block bolder">Sort code</span>
							<span class="block op6">12132435</span>
						</div>
						<div class="child w50">
							<span class="block bolder">Bank account</span>
							<span class="block op6">986771672673</span>
						</div>
					</div>

					<!-- 2 -->
					<div class="info_content">
						<div class="child w50">
							<span class="block bolder">Refference</span>
							<span class="block op6">---</span>
						</div>
						<div class="child w50">
							<span class="block bolder">Address</span>
							<span class="block op6">EC1V9NR</span>
						</div>
					</div>
				</div>

				<span class="sep_20"></span>

				<!-- Destinatary -->
				<div class="wrap_content">

					<!-- Title -->
					<div class="title_section pb20">
						<article class="bolder f16">Jane Smith</article>
						<span class="bolder op5 f12 uppercase">Destinatary</span>
					</div>

					<!-- 1 -->
					<div class="info_content pb10">
						<div class="child w50">
							<span class="block bolder">Sort code</span>
							<span class="block op6">12132435</span>
						</div>
						<div class="child w50">
							<span class="block bolder">Bank account</span>
							<span class="block op6">986771672673</span>
						</div>
					</div>

					<!-- 2 -->
					<div class="info_content">
						<div class="child w50">
							<span class="block bolder">Refference</span>
							<span class="block op6">RFB/Expences</span>
						</div>
						<div class="child w50">
							<span class="block bolder">Address</span>
							<span class="block op6">---</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Box 3 -->
			<div class="main_box_content_lateral custom">
				<div class="wrap_content">
					<div class="title_box"><span class="f12 bolder uppercase">Timestamps</span></div>

					<!-- 1 -->
					<div class="info_content">
						<div class="child w25">
							<span class="block bolder">Upload</span>
							<span class="block op6">01-11-2016 · 11:47h</span>
						</div>
						<div class="child w25">
							<span class="block bolder">Processed</span>
							<span class="block op6">01-11-2016 · 11:56h</span>
						</div>
						<div class="child w25">
							<span class="block bolder">Created</span>
							<span class="block op6">01-11-2016 · 11:56h</span>
						</div>
						<div class="child w25">
							<span class="block bolder">Updated</span>
							<span class="block op6">01-11-2016 · 13:47h</span>
						</div>
					</div>
				</div>
			</div>


			<!-- Box 4 -->
			<div class="main_box_content_lateral">
				<div class="wrap_content">

					<article class="title_general_box">More info</article>

					<!-- 1 -->
					<div class="info_content pb10">
						<div class="child w25">
							<span class="block bolder">Payment HUB ID</span>
							<span class="block op6">pWjnOcScI89Sce4ap1</span>
						</div>
						<div class="child w25">
							<span class="block bolder">File Name</span>
							<span class="block op6">mt103.big.txt</span>
						</div>
						<div class="child w25">
							<span class="block bolder">IP's refference</span>
							<span class="block op6">0</span>
						</div>
						<div class="child w25">
							<span class="block bolder">Caps payment code</span>
							<span class="block op6">1</span>
						</div>
					</div>

					<!-- 2 -->
					<div class="info_content pb10">
						<div class="child w50">
							<span class="block bolder">Payment return code</span>
							<span class="block op6">---</span>
						</div>
						<div class="child w50">
							<span class="block bolder">Payment return code description</span>
							<span class="block op6">--</span>
						</div>
					</div>

					<!-- 3 -->
					<div class="info_content">
						<div class="child">
							<span class="block bolder">Original payment PFID</span>
							<span class="block op6">HUBX00000000002340948209482304982340982349</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


























